.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

img {
    width: 9rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 12px;
    margin: 5px 15px;
}

button.buttonadd-btn {
    background-color: aqua;
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 8rem;
    height: 2.5rem;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    cursor: pointer;
  }